<html>
    <head>
        <title>Django Dad blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Dad Blog</a></h1>
        </div>

        <div>
            <p>published: 17.10.2022, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Вот пример готового шаблона, скопируй его содержимое в файл.</p>
        </div>

        <div>
            <p>published: 17.10.2022, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Мы почти у цели, пришло время сохранить изменения в истории.</p>
        </div>
    </body>
</html>